.navbar {
  background-color: #3c3c3c;
  height: 80px;
  /*margin: 20px;*/
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  transition: 0.3s color;
}

.offcanvas-body {
  background-color: #3c3c3c;
}

.login-button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #fff;
  color: #009970;
}

.button {
  background-color: #009970;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.button:hover {
  background-color: #fff;
  color: #009970;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.row > div {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Cambiar el color de los botones de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #009970; /* Cambia el color al verde */
  border-radius: 50%; /* Hace que los botones sean circulares */
  width: 40px; /* Ajusta el tamaño del botón */
  height: 40px;
}

/* Opcional: Cambiar el color al pasar el mouse */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #1e7e34; /* Un verde más oscuro */
  transform: scale(1.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.testimonial-caption {
  display: none;
  z-index: 10;
}

.testimonial-wrapper {
  width: 70%;
  max-width: 800px;
}

.testimonial-img {
  transition: transform 0.3s ease;
}

/*Galería Masonry*/
.grid {
  margin: 0 auto;
}

.grid-item {
  width: 100%;
  max-width: 32%;
  margin-bottom: 20px;
  overflow: hidden;
  border: none;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.1);
}

/* Ajuste responsive */
@media (max-width: 992px) {
  .grid-item {
    max-width: 48%;
  }
}

@media (max-width: 576px) {
  .grid-item {
    max-width: 100%;
  }
}

/* Resaltado en la tabla de horarios */
/* Estilo base para las celdas de la tabla */
#tabla-horarios td {
  transition: background-color 0.6s ease, color 0.6s ease;
}

.resaltado {
  background-color: #ffc107 !important;
  color: #212529;
  font-weight: bold;
}
